<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description">
        BUG BOUNTY Village is a platform for bug bounty researchers and Infosec professionals to come and share their experience. It's an apt place to learn bug bounty, report writing, and to teach and learn from others. With a series of talks/trainings and awards we want to bring this fun platform to everyone.
<br>
<br>
        Bug Bounty village includes two things :
        <br>
        <br>        
        The first one is <b class="color-test">“Unique Bug of the Year award / Best Bounty Hunter of the Year”</b>. It aims to motivate and encourage researchers for writing good and effective vulnerability reports. More interestingly if your vulnerability/ bug finding report gets <b class="color-test">duplicate </b>,do not worry, be happy, as we will also consider the duplicate reports in the submission. We understand how much time and effort a researcher/bug bounty hunter puts into finding a bug/vulnerability.
        <br>
<br>
        The second is  <b class="color-test">“Talks and Workshops”</b>. It aims at sharing knowledge with the bug bounty hunters and security community people who are already in Infosec field/ getting started/ want to start a career in information security domain.
        Motivation : Motivate | Share and Make Internet more secure
        <br>
        <br>
        Motivation : Motivate | Share and Make Internet more secure



</p>
