<h2 class="section-title">{{ .titles.awards }}</h2>

<h4 class="headeing">Congratulation to all the winners</h3>
	<div class="awards-list">
		{{ range $team := .award }}
		
		<div data-aos="zoom-in"class="awards-container ">
			<img class="awards-photo" src="{{ .logo }}" alt="{{ .name }}" itemprop="image">
			<p class="speakers-bio">{{ .name }}</p>
			<p class="speakers-bio">{{ .bio }}</p>
		</div>
		
	
		{{ end }}
	</div>

<!-- <p itemprop="description">
We will be presenting awards to top bug bounty hunters who have reported amazing security issues. We know we will be witnessing the most creative talent nationwide. This isn’t just challenging but an actual opportunity for you to connect with security experts, architects and mentors from leading tech companies.
<br>
<br>
Each and every submission will be verified by our judging panel who possess a considerable amount of experience in multiple areas of cybersecurity research and bug hunting scenes

</p>
<p> <b class="color-test">Awards Categories :</b> </p>
<ol class="award-list space-left">
	<li>Unique bug of the year award (depends on the uniqueness of bug and report writing technique)
		</li>
	<li>Bug bounty hunter of the year</li>
	<li>Best self-written tool or automation methodology</li>
</ol>
<p> <b class="color-test">Awards would be :</b> </p>
<ol class="award-list">
	<li>XBOX</li>
	<li>Hak5 Gears</li>
	<li>Pentesterlab Pro Subscription</li>
	<li>Unique Swags</li>
</ol> -->
<!-- <p>	Get reward on your report submission.</p> -->

<!-- <p><b>Note : Kindly submit your reports in the call for reports section, awards will be given at the conference only.</b></p> -->


<style>
	.headeing{
		text-align: center;
	}
.awards-list{
	/* font-size: normal; */
	/* list-style-type: circle; */
    display: grid;
    grid-gap: 50px;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2, 40%);
}
.awards-container{
	display: flex;
	flex-direction: column;
    align-items: center;
}
.awards-photo{
	width: 90%;
    height: 90%;
}
</style>