<h2 class="section-title">{{ .titles.awards }}</h2>

<p itemprop="description">
We will be presenting awards to top bug bounty hunters who have reported amazing security issues. We know we will be witnessing the most creative talent from nationwide. This isn’t just challenging but an actual opportunity for you to connect with security experts, architects and mentors from leading tech companies.
<br>
<br>
Each and every submission will be verified by our judging panel who possess a considerable amount of experience in multiple areas of cyber security research and bug hunting scenes

</p>
<p> <b class="color-test">Awards Categories :</b> </p>
<ol class="award-list space-left">
	<li>Unique bug of the year award (depends on the uniqueness of bug and report writing technique)
		</li>
	<li>Bug bounty hunter of the year</li>
	<li>Best self written tool or automation methodology</li>
</ol>
<!-- <p>Awards would be :</p>
<ol class="award-list">
	<li>Bug Bounty Village Shield</li>
	<li>Hak5 Gears</li>
	<li>1 year Pentesterlab Pro Subscription</li>
</ol> -->
<!-- <p>	Get reward on your report submission.</p> -->

<p><b>Note : Kindly submit your reports in the call for reports section, awards will be given at the conference only.</b></p>


<style>
.award-list{
	/* font-size: normal; */
	/* list-style-type: circle; */
	font-size: 1.6em;
	line-height: 1.6em;
	margin-left: 10px;
	margin-left: 2rem;
}
</style>