<h2 class="section-title">{{ .titles.cfr }}</h2>

<p itemprop="description">     
<ul class="space-left">
    <li>
        <p>If you have reported a unique and good vulnerability in any target(Web, Mobile, IoT, Network) as part of the bug bounty program then submit your report to us.
            </p>
    </li>
    <li>
        <p>If you have got duplicates ,feel free to share it with us. We will analyze it and try to do something to keep you motivated. We believe in your efforts.
            </p>
    </li>
    <li>
        <p>Please report only those bugs which are already remediated.
            </p>
    </li>
    <li>
        <p>If you have written any specific tool for bug hunting, do apply.</p>
    </li>
</ul>
<p><b class="color-test">Guidelines for the report submission:</b></p>
<ul class="space-left">
    <li>
        <p>Report only bugs that have been fixed by the organization.
            </p>
    </li>
    <li>
        <p>You can also submit reports of  the private programs,which don't allow you to disclose the vulnerabilities. In this scenario, please omit the target name and required information by which the target can be identified.
            </p>
    </li>
    <li>
        <p>Please submit the reports which have been submitted by you alone, do not copy-paste reports from the internet.</p>
    </li>
    <li>
        <p>Submit the reports with POC (Proof of Concept) which signifies that the bug is disclosed to the organization.

            </p>
    </li>
</ul>
<p>Motivate | Share and Make Internet more secure
    </p>
</p>

<a class="btn " href="https://docs.google.com/forms/d/1vgE0yhCZq8E6hjfOryzjvwuAaPr7YuyI2gTxa7eSqWU" target="_blank">Submit Nomination</a>


