<h2 class="section-title">{{ .titles.cftw }}</h2>

<p itemprop="description">

    <ul class="space-left">
        <li>
            <p>If you believe in sharing knowledge with community.
                </p>
        </li>
        <li>
            <p>If you have something interesting to share, which can help young minds in bug    bounty/security community.   </p>
        </li>
        <li>
            <p>If you want to share your own methodology and techniques.
                </p>
        </li>
        <li>
            <p>If you want to share your unique bug finding approach and concepts.</p>
        </li>
        <li>
            <p>If you have a new tool to showcase.
                </p>
        </li>
        <li>
            <p>If you are willing to guide and help others to know more about bug bounty and security.
                </p>
        </li>
    </ul>
    <p>
            We know that so many young minds rely on the guidance and indisputable facts and data that only top cybersecurity experts from the community can offer and so we believe in our speakers.
            That’s why each and every submission will be verified by our judging panel who possess a considerable amount of experience in multiple areas of cyber security research and bug hunting scenes.
            
    </p>
    <h4>Details 
    </h4>
    <ul class="space-left">
        <li>
            <p>Tools watch (45 min to 60 min), showcase your tool with demos</p>
        </li>
        <li>
            <p>Talks (Duration 45 min to 60 min )
                </p>
        </li>
        <li>
            <p>Workshops( workshops 2.5 to 4 hours ) 
                </p>
        </li>
    </ul>
    <p><b>Note : We are more inclined towards the advanced,latest security topics and bug bounty topics   </b></p>
    <a class="btn " href="https://docs.google.com/forms/d/1L6r-h9_ENMnx9Auzaj7JteVQOuNQrPZ-4FSlJEk_xSY/" target="_blank">Submit Application</a>
</p>